
/*
Color scheme
#17252A
#2B7A78
#3AAFA9
#DEF2F1
#FEFFFF
*/

body {
  font-family: Roboto, sans-serif;
  background: #3AAFA9;
  color: #FEFFFF;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#app {
  margin: 0;
  padding: 0;
}

.icon-button {
  display: inline;
  margin-left: 0.25rem;
  min-width: 2rem;
  padding: 0 0.5rem;
  font-size: x-small;
  background: #2B7A78;
  border-radius: 2px;
  cursor:pointer;
}

.icon-button:hover {
  background: #DEF2F1;
  color: #2B7A78;
}

.icon-button .fa {
  margin-right: 0.25rem;
}

.section-title {
  padding: 0.5rem 2rem;
}

.section-users {
  border: 2px solid #FEFFFF;
  min-width: 10rem;
  margin: 0 1rem;
  padding: 0.5rem;
}

.section-users input {
  background: #2B7A78;
  padding: 0.2rem 0.5rem;
  border: none;
  outline: none;
  resize: none;
  color: #FEFFFF;
}

.section-users .self {
  color: #DEF2F1;
  font-weight: bold;
}

.section-users .user-item {
  line-height: 1.5rem;
  height: 2.0em;
  border-bottom: 1px solid #DEF2F1;
}

.section-users .user-item:last-child {
  border-bottom: none;
}

.section-info {
  border: 2px solid #FEFFFF;
  min-width: 18rem;
  margin: 0 1rem;
  padding: 0.5rem;
  font-family: 'Roboto Mono', monospace;
  font-size: small;
}

.section-messages {
  border: 2px solid #FEFFFF;
  padding: 0.5rem;
}

.section-messages .message {
  margin: 0.2rem 0;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  max-width: 80%;
}

.section-messages .status-message {
  background: #2B7A78;
  color: #DEF2F1;
  font-size: x-small;
  font-weight: lighter;
  padding-bottom: 0.8rem;
}

.section-messages .text-message .username {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  font-weight: bold;
  font-size: x-small;
  padding-bottom: 0.2rem;
  margin-bottom: 0.2rem;
}

.section-messages .text-message .content {
  font-size: small;
  font-weight: lighter;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

.section-messages .text-message.sent-message {
  background: #2B7A78;
  color: #DEF2F1;
  border: 1px solid #DEF2F1;
  align-self: flex-end;
}

.section-messages .text-message.sent-message .username {
  text-align: right;
}

.section-messages .text-message.sent-message .content {
  text-align: right;
  color: #FEFFFF;
}

.section-messages .text-message.received-message {
  background: #FEFFFF;
  color: #2B7A78;
  border: 1px solid #2B7A78;
  align-self: flex-start;
}

.section-messages .text-message.received-message .username {
  text-align: left;
}

.section-messages .text-message.received-message .content {
  text-align: left;
  color:#17252A;
}

.section-input {
  border: 2px solid #FEFFFF;
  border-top: 0;
}

.section-input textarea {
  background: #2B7A78;
  padding: 0.5rem;
  border: none;
  outline: none;
  resize: none;
  color: #FEFFFF;
}

.section-console {
  font-family: 'Roboto Mono', monospace;
  font-size: small;
  margin-top: 2rem;
  padding: 0.5rem;
  height: 12rem;
  background: #17252A;
  color: #FEFFFF;
}

.console-item .time {
  width: 16em;
}